# Force recognition of different languages in github
*.sql linguist-language=SQL
*.java linguist-language=Java
*.jsp linguist-language=Java+Server+Pages

# Specify handwritten code
insertdata/* linguist-vendored=false
insertdata/* linguist-documentation=false
queries/* linguist-vendored=false
queries/* linguist-documentation=false
insertdata/* linguist-documentation=false
insertdata/* linguist-vendored=false

#Specify vendored code & docs
documentation/* linguist-documentation
SQLDataDump/* linguist-vendored
webserver/css/* linguist-vendored
webserver/fonts/* linguist-vendored
webserver/img/* linguist-vendored
webserver/js/* linguist-vendored
webserver/WEB-INF/* linguist-vendored
