# Force recognition of different languages in github
*.sql linguist-language=SQL
*.java linguist-language=Java
*.tex linguist-language=TeX
*.jsp linguist-language=Java Server Pages

# Specify generated code/documentation folders
webserver/* linguist-vendored=false
webserver/* linguist-documentation=false
sqlTables/* linguist-vendored=false
sqlTables/* linguist-documentation=false
documentation/* linguist-documentation
SQLDataDump/* linguist-vendored